Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
PyJWT==2.13.0
django-cors-headers==4.3.1
python-decouple==3.8
django-filter==23.4
Pillow>=11.3.0
gunicorn==21.2.0
whitenoise==6.6.0
django-extensions==3.2.3
psycopg[binary]>=3.2